## Prerequisites

In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [11]:
taxi_data_iter = pd.read_csv("yellow_tripdata_2021-01.csv", converters={"tpep_pickup_datetime":pd.Timestamp, "tpep_dropoff_datetime" : pd.Timestamp}, iterator=True, chunksize=1000000)

In [4]:
taxi_data_iter = pd.read_csv("green_tripdata_2019-09.csv", converters={"tpep_pickup_datetime":pd.Timestamp, "tpep_dropoff_datetime" : pd.Timestamp}, iterator=True, chunksize=1000000)

In [22]:
zone = pd.read_csv("taxi_zone_lookup.csv")

In [13]:
taxi_zones = pd.read_csv("green_tripdata_2019-09.csv", converters={"tpep_pickup_datetime":pd.Timestamp, "tpep_dropoff_datetime" : pd.Timestamp})

C:\Users\jatin\AppData\Local\Temp\ipykernel_7772\3738187164.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  taxi_zones = pd.read_csv("green_tripdata_2019-09.csv", converters={"tpep_pickup_datetime":pd.Timestamp, "tpep_dropoff_datetime" : pd.Timestamp})

In [6]:
taxi_data.head(10)

NameError: name 'taxi_data' is not defined

In [7]:
print(pd.io.sql.get_schema(taxi_zones,name="green_taxi_trips"))

CREATE TABLE "green_taxi_trips" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [9]:
df = next(taxi_data_iter)

In [8]:
taxi_zones.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [9]:
while True:
    df = next(taxi_data_iter)
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')
    print("Chunk inserted")

C:\Users\jatin\AppData\Local\Temp\ipykernel_7772\2411325993.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(taxi_data_iter)

Chunk inserted

StopIteration:

--------------

## Question 3. Count records

In [51]:
taxi_zones[(taxi_zones["lpep_pickup_datetime"] >= '2019-09-18') & (taxi_zones["lpep_dropoff_datetime"] < '2019-09-19')].shape[0]

15612

## Question 4. Largest trip for each day

In [17]:
dist_df = taxi_zones[["lpep_pickup_datetime","trip_distance"]]

In [21]:
dist_df.sort_values("trip_distance", ascending=False).head(1)

       lpep_pickup_datetime  trip_distance
337292  2019-09-26 19:32:52         341.64

## Question 5. Three biggest pick up Boroughs

In [25]:
int_df = taxi_zones[(taxi_zones["lpep_pickup_datetime"]>='2019-09-18') & (taxi_zones["PULocationID"] != 'Unknown')]

In [34]:
int_df = int_df.merge(zone, left_on = "PULocationID", right_on="LocationID", how="inner")

In [39]:
int_df[["Borough","total_amount"]].groupby("Borough").sum("total_amount").sort_values("total_amount", ascending=False)

               total_amount
Borough
Brooklyn         1185544.48
Manhattan        1100492.16
Queens           1040096.53
Bronx             373429.81
Unknown            11684.81
Staten Island       4456.03
EWR                  587.70

## Question 6. Largest tip

In [40]:
int_df = taxi_zones[(taxi_zones["lpep_pickup_datetime"] >= '2019-09-01') & (taxi_zones["lpep_dropoff_datetime"] < '2019-10-01')]

In [41]:
int_df = int_df.merge(zone, left_on = "PULocationID", right_on="LocationID", how="inner")

In [47]:
int_df = int_df.merge(zone, left_on = "DOLocationID", right_on="LocationID", how="inner")

In [45]:
int_df.sort_values("tip_amount", ascending=False)[["Zone", "tip_amount"]]

                           Zone  tip_amount
388122        Crotona Park East      400.00
425142       Soundview/Bruckner      200.00
425143       Soundview/Bruckner      200.00
425199       Soundview/Bruckner      200.00
425200       Soundview/Bruckner      200.00
...                         ...         ...
407353  Queensbridge/Ravenswood       -0.99
406150  Queensbridge/Ravenswood       -1.14
407033  Queensbridge/Ravenswood       -1.14
407544  Queensbridge/Ravenswood       -2.55
59455                   Bedford       -3.89

[448898 rows x 2 columns]

In [50]:
int_df[int_df["Zone_x"] == 'Astoria'].sort_values("tip_amount", ascending=False)[["Zone_y", "tip_amount"]].head(1)

            Zone_y  tip_amount
90922  JFK Airport       62.31